<div class="product-component" *ngIf="product">
  <div class="product-component__header">
    <h1>{{ product.name }}</h1>
  </div>
  <div class="product-component__body">
    <div class="product-component__image">
      <img 
        class=product-image 
        alt="{{ product.summary }}" 
        src="{{ product.imageFile | cdn:'products':'imagesFolder' }}" 
        loading="lazy"
        appFallbackImage="{{ defaultImageFile | cdn:'products':'imagesFolder' }}"
      >
    </div>
    <div class="product-component__description">
      <p>{{ product.description }}</p>
    </div>
    <div class="product-component__price">
      <p>{{ product.price }}</p>
    </div>
  </div>
</div>